@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #f0f0f0;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  background-color: #fff;
  display: flex;
  height: auto;
  justify-content: center;
  margin: 0 auto;
}

.navbar img {
  width: 70px;
  height: 70px;
  padding: 12px;
}

.card {
  display: flex;
  align-items: center;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 1rem;
  border-radius: 6px;
  margin: 1.5rem auto;
  width: 40%;
}

.head {
  font-weight: bold;
  font-size: 1.5rem;
}
.para {
  font-weight: 500;
}

.text-content {
  margin-left: 30px;
}

.card .images img {
  width: 130px;
  object-fit: contain;
}

@media (max-width: 625px) {
  .text-content {
    margin-left: initial;
  }

  .navbar img {
    width: 50px;
    height: 50px;
  }

  section {
    padding: 1rem;
  }

  .images img {
    height: 100px;
    max-width: 100px;
    margin-right: initial;
  }

  .card {
    width: initial;
    flex-direction: column;
  }
  .head {
    font-size: 1.2rem;
  }

  .images img {
    height: 80px;
    max-width: 100px;
    margin-right: initial;
  }
  .card-1 .images img {
    width: 130px;
    height: auto;
  }
  .card-2 .images img {
    width: auto;
    height: auto;
  }
  .card-3 .images img {
    width: 60px;
    height: auto;
  }
  .card-4 .images img {
    width: 60px;
    height: auto;
  }
  .card-5 .images img {
    width: 80px;
    height: auto;
  }
  .card-6 .images img {
    width: 70px;
    height: auto;
  }
}
